resources/
results/
!results/.gitkeep
.snakemake/
logs/
*.zip
*.swp
*.gz
submission/
Submission/
drafts/
results*
localDB/


!resources/.gitkeep
!resources/samples.tsv
!/resources/mock_protein_queries.fasta